<h1>Tracks</h1>
<% tracks.forEach(track => { %>
<div>
  <h2><%- track.name %></h2>

  <a href=" <%- track.external_urls.spotify%>"> Listen on spotify </a>
  <audio controls>
    <source src="<%=track.preview_url %>" type="audio/mpeg">
  </audio>
</div>
<% }) %>